{{ partial "head" . }}

<body>
  <div class="container">
    <div class="row">
      <div class="col col-lg-6 offset-lg-3 text-center mt-4">
        <img class="rounded-circle img-fluid mx-auto d-block" width="150" src="/images/wyllers/{{ .Params.photo }}" alt="Photo de {{ .Title }}"/>
        <h1 class="text-center mt-3 mb-0 text-primary">{{ .Title }}</h1>
        <h2 class="text-muted text-center mt-0 mb-0">{{ .Params.job }}</h6>
        <h3><img src="/images/logo-full.png" width="130" class="img-fluid mt-2 mb-3" /></h3>
        
        {{ range .Params.tags }}
        <span class="badge text-bg-secondary">{{ . }}</span>
        {{ end }}

        <div class="mt-3"></div>

        <btn class="btn btn-info mt-4" onclick="vcard()"><i class="fa fa-address-book" aria-hidden="true"></i> Ajouter à mes contacts</btn>
      
        <h3 class="mt-4">Pour me <b class="contact text-info">contacter</b></h3>

        <a href="mailto:{{ .Params.email }}" class="social-link">
          <span class="fa-stack fa-lg text-primary stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="sms://{{ .Params.phone }}" class="social-link">
          <span class="fa-stack fa-lg text-primary stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="tel://{{ .Params.phone }}" class="social-link">
          <span class="fa-stack fa-lg text-primary stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <br />

        <a href="https://wyll.io" target="_blank" class="social-link">
          <span class="fa-stack fa-lg text-primary stack" class="social-link">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="https://www.google.com/maps/dir//2 chemin de tréville 31270 Frouzins , FR" target="_blank" class="social-link">
          <span class="fa-stack fa-lg text-primary stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="{{ .Params.linkedin }}" target="_blank" class="social-link">
          <span class="fa-stack fa-lg text-primary stack" class="social-link">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <h3 class="mt-4">Quelques mots sur <b class="text-info">moi</b></h3>
        <div class="mt-3">
          {{ .Content }}
        </div>

        <h3>Quelques mots sur <b class="text-info">Wyll</b></h3>
        <div class="mt-3">
          {{ partial "wyll" . }}
        </div>

        <h3 class="mt-3"><b class="text-info">Scannez</b> ce QRCode</b></h3>
        <div class="qrcode text-center mb-4">
          <div style="display: flex; justify-content: center; text-align: center;" id="qrcode"></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- vCard -->
  <script type="text/javascript">
    function vcard(){
        console.log("generating the vcard")
        var fooBar = vCard.create(vCard.Version.FOUR)
        fooBar.addFormattedname({{ .Title }})
        fooBar.addEmail({{ .Params.email }}, vCard.Type.WORK)
        fooBar.addAddress("2 chemin de Treville", "31270", "Frouzins", "France", vCard.Type.WORK)
        fooBar.addPhone({{ .Params.phone }}, vCard.Type.WORK)

        vCard.export(fooBar, {{ .Title }}, true) // use parameter true to force download
    }
  </script>
</body>
</html>