html, body
{
  background-color: #eef1f5;
  min-height: 100%;
}

a.social-link {
  text-decoration: none;
}

.text-primary {
  color: #132651 !important;
}
.text-muted {
  color: #437F97 !important;
}
.text-info {
  color: #691E06 !important;
}
.btn-info {
  background-color: #691E06 !important;
  border-color: #691E06 !important;
  color: white;
}
.btn-primary {
  background-color: #132651 !important;
  border-color: #132651 !important;
}

.card-title a
{
  text-decoration: none;
  color: #132651;
}

.qrcode img {
  width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qrcode {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.stack {
  font-size: 30px;
}